<div class="col-lg-4 col-sm-6 portfolio-item">
  <div class="card h-100">

    <%= link_to book_path(book) do %>
      <%= image_tag book_img(book.image.thumb, 'thumb'), class: 'card-img-top', width: '100' %>
    <% end %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </h4>
      <h6 class="card-title">
          <b><%= book.author %></b>
      </h6>
      <p class="card-text"><%= genres_to_string(book.genres) %></p>
    </div>

    <% if user_signed_in? && book.owner_book?(current_user.id) %>
      <div  class="icon-book-edit text-right">
        <%= link_to fa_icon('pencil-square-o'), edit_book_path(book) %>
      </div>
    <% end %>

  </div>
</div>