<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id, id: :book_user_id %>

    <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :book_author %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :book_image %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :book_summary %>
  </div>

  <div class="field">
    <div class="field_head">Genre</div>
    <%= hidden_field_tag("book[genre_ids][]", nil) %>
    <% Genre.all.each do |genre| %>
        <label><%= check_box_tag("book[genre_ids][]", genre.id, genre.id.in?(book.genres.collect(&:id))) %> <%= genre.name %></label>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :book_summary %>
  </div>

  <div class="field">
    <%= form.label :draft %>
    <%= form.check_box :draft, id: :book_draft %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
